<div class="smowlresults_block">
	{% if has_settings %}
		<div id="ocultarDiv">
			<img src="https://media.smowltech.net/images/smowltech100.png">
			<br><br>
			<B id="test">SMOWL Results</B>
			<br><br>
			<B>Choose activity:</B>
			<br><br>
			<select id="listaEx" class="form-control">
			</select>
			<br><br>

			<form id='resultsForm' method='POST' target="smowl" action='{{RESULTSCONTROLLER_URL}}'>
				<input type="hidden" name="Entity" value="{{entidadEDX}}" />
				<input type="hidden" name="Modality" value="edxActivity" />
				<input type="hidden"  name="idCourse" value="" />
				<input type="hidden" name="anombres" value={{nombresAlum}} />
				<input type="hidden" name="type" value="4" />
				<input type="hidden" name="swlLicenseKey" value="{{swlLicenseKey}}" />
				<input type="hidden" name="course_MoodleName" value="" />
			</form>

			<iframe id="smowl" name="smowl" width="0" height="0" src="" frameborder="0" style="margin-left: -20px;" allowfullscreen></iframe>
		</div>
	{% else %}
		<p>La configuración interna del componente <strong>no se ha configurado correctamente</strong>.</p>
		<p>Contáctese con mesa de ayuda <strong><a href="/contact_form">presionando aquí</a></strong>.</p>
	{% endif %}
</div>
